#texto-banner h1, #texto-banner p, .textos p, .textos h2{
    color: var(--cor_branco);
    font-family: var(--fonte_textos);
}

.textos p, #quadro p{
    font-size: 1.2rem;
    font-weight: var(--regular);
}

#banner{
    background-image: url(../assets/Header\ 2.jpg);
}

.textos h2{
    font-size: 2rem;
    margin-top: 5rem;
    text-decoration: underline solid var(--cor_verde) 0.3rem;
}

.textos{
    display: flex;
    flex-direction: column;
    gap: 1.88rem ;
}

.quadro{
    height: 22rem;
    background-color: var(--cor_verde);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 1rem;
    margin: 3.12rem 0;
}

.quadro p{
    color: var(--cor_de_fundo);
    font-family: var(--fonte_textos);
}

.p-quadro{
    width: 100%;
    height: auto;
    padding: 0 2.5rem;
}

#img-quadro1, #img-quadro2{
    width: 100%;
    height: 100%;
}

#img-quadro1 img{
    border-radius: 0 1rem 1rem 0;
}

#img-quadro2 img{
    border-radius: 1rem 0 0 1rem;
}

#img-quadro1 img, #img-quadro2 img{
    width: 100%;
    height: 100%;
}
